<link rel="stylesheet" href="../../components/changePasswordForm/style.css">
<link rel="stylesheet" href="../../css/ui.css">

<a class="left_arrow" href="">
    <img src="../../../assets/svg/left_arrow.svg" alt="">
</a>

<header>
    <h2>Change Password</h2>
</header>


<section class="change-password">
    <form action="">
        <label for="password">Enter your new password below.</label>
        <div class="password">
            <input type="password" placeholder="New Password">
            <img class="eye" src="../../../assets/svg/eye_close.svg" alt="">
        </div>
        <input type="password" placeholder="Confirm Password">
        <button type="submit">Change Password</button>
    </form>
</section>