<link rel="stylesheet" href="../../components/signinForm/style.css">
<link rel="stylesheet" href="../../css/ui.css">

<a class="left_arrow" href="../../pages/home">
    <img src="../../../assets/svg/left_arrow.svg" alt="">
</a>

<header>
    <img src="../../../assets/svg/deepstudy.svg" alt="deepstudy">
    <h2>Sign in to Deepstudy</h2>
</header>

<section id="sigin-credentials">
    <form action="">
        <label for="email">email address</label>
        <input type="email" name="email" required>
        <label for="password">password</label>
        <div class="password">
            <input type="password" name="password" required>
            <img class="eye" src="../../../assets/svg/eye_close.svg" alt="">
        </div>
        <a id="forget-password">forgot password?</a>
        <button type="submit">Sign in</button>
    </form>
</section>

<section class="open-auth">
    <div class="auth">
        <img src="../../../assets/svg/google.svg" alt="">
        <span>sign in with Google</span>
    </div>
    <div class="auth">
        <img src="../../../assets/svg/github.svg" alt="">
        <span>Sign in with GitHub</span>

    </div>
</section>


<footer>
    <p>New to Deepstudy? <a href="../../pages/signup">Creat a new account</a></p>
</footer>