<link rel="stylesheet" href="../../components/userProfile/style.css" />

<section id="profile-container">
    <p>Manage your account information</p>

    <div>
        <img alt=" " />

        <ul class="profile-info">
            <li>
                <div>
                    <div>full name</div>
                    <div class="name"></div>
                </div>
                <!-- <button>Update</button> -->
            </li>
            <li>
                <div>
                    <div>email</div>
                    <div class="email"></div>
                </div>
                <!-- <button>Update</button> -->
            </li>
            <!-- <li>
                <div>
                    <div>password</div>
                    <div>password</div>
                </div>
                <button>Update</button>
            </li> -->
            <li>
                <div>
                    <div>joined</div>
                    <div class="joined"></div>
                </div>
            </li>
        </ul>
    </div>
</section>
