<link rel="stylesheet" href="../../component/navbar/style.css">

<ul class="navbar-left">
    <li>
        <a href="" class="brand">
            <img src="../../assets/svg/deepstudy.svg" alt="deepstudy">
            <p>DEEPSTUDY</p>
        </a>
    </li>
    <li>
        <a href="">HOME</a>
    </li>
    <li>
        <a href="">PYQ</a>
    </li>
    <li>
        <a href="">CONTACT</a>
    </li>
</ul>

<ul class="navbar-right">
    <li>
        <a class="theme" href="">Theme</a>
    </li>
    <li>
        <a class="sign-in" href="">Sign in</a>
    </li>
    <li>
        <a class="create-account" href="">Create Account</a>
    </li>
</ul>