<link rel="stylesheet" href="../../component/forgotPasswordForm/style.css">
<link rel="stylesheet" href="../../css/ui.css">

<a class="left_arrow" href="">
    <img src="../../../assets/svg/left_arrow.svg" alt="">
</a>

<header>
    <h2>Forgot Password</h2>
</header>

<section id="reset-link">
    <span>Enter your email to receive a password reset link.</span>
    <input type="email" name="email" placeholder="example@gmail.com">
    <div class="verify-human">

    </div>
    <button>Send Link</button>
</section>