<link rel="stylesheet" href="../../components/content/style.css">
<section id="hero-section">
    <div class="hero-left">
        <div class="hero-message">
            <h1> Download PYQ PDFs For Free </h1>
            <p>Download up to 5 years of past year question papers with ease and speed. Get instant access to curated
                PYQs and prepare smarter for your exams in just a few clicks!"</p>
        </div>
        <div class="cta">
            <p>
                Sign up now to access and download past year questions for your exam prep!
            </p>
            <div class="hero-input">
                <img class="hero-svg-message" src="../../../assets/svg/message.svg" alt="msg">
                <input class="hero-email" type="email" name="email" id="" placeholder="  Enter Your Email Address">
                <button type="button">Get Started</button>
            </div>
            <div class="cta-logged-in">
                <p>Ready to conquer your exams? Dive into your saved PYQs now. What are you waiting for? Go download,
                    study hard, and ace that exam!</p>
                <button type="button">Go to Downloads</button>
            </div>

        </div>
    </div>

    <div class="hero-right">
        <img class="hero-image" src="../../../assets/img/hero_image_dark.png" alt="hero_image">
    </div>
</section>

<section id="story-section">
    <img class="story-image" src="../../../assets/img/story_image_dark.png" alt="">
</section>

<section class="workflow-section">
    <h2>How It Works</h2>
    <div class="workflow-process">
        <div class="workflow-step">
            <span>1</span>
            <h3>Sign Up</h3>
            <p>Create a free account in seconds to start your journey.</p>
        </div>
        <div class="workflow-step">
            <span>2</span>
            <h3>Browse PYQs</h3>
            <p>Explore our collection of question papers for your exams</p>
        </div>
        <div class="workflow-step">
            <span>3</span>
            <h3>Download & Study</h3>
            <p>Download PDFs and start preparing to ace your exams!</p>
        </div>
    </div>
</section>

<section class="workflow-section">
    <h2>Why Choose Deepstudy?</h2>
    <div class="workflow-process">
        <div class="workflow-step benefits-step">
            <img src="../../../assets/svg/world.svg" alt="">
            <h3>Free Access</h3>
            <p>Sign up and download PYQs at no cost, anytime, anywhere.</p>
        </div>
        <div class="workflow-step benefits-step">
            <img src="../../../assets/svg/stack.svg" alt="">
            <h3>Wide Range Of PYQs</h3>
            <p>Access question papers for various exams to prepare effectively.</p>
        </div>
        <div class="workflow-step benefits-step">
            <img src="../../../assets/svg/correct_sign.svg" alt="">
            <h3>Easy To Use</h3>
            <p>Simple signup and instant access to downloadable PDFs.</p>
        </div>
    </div>
</section>