<link rel="stylesheet" href="../../components/createAccountForm/style.css">
<link rel="stylesheet" href="../../css/ui.css">

<a class="left_arrow" href="../../pages/home/">
    <img src="../../../assets/svg/left_arrow.svg" alt="">
</a>

<header>
    <h2>Create Account</h2>
</header>

<section id="account-credentials">
    <form action="">
        <div class="name-container">
            <div>
                <label for="firstName">first name</label>
                <input type="text" name="firstName">
            </div>
            <div>
                <label for="lastName">last name</label>
                <input type="text" name="lastName">
            </div>
        </div>
        <!-- <label for="email">email address</label>
        <input type="email" name="email"> -->
        <label for="password">password</label>
        <div class="password">
            <input type="password" name="password">
            <img class="eye" src="../../../assets/svg/eye_close.svg" alt="">
        </div>
        <label for="password">confirm password</label>
        <input type="password" name="confirmPassword">
        <button type="submit">Sign up</button>
    </form>
</section>


<footer>
    <p>By signing up , you agree to our <a href="">Terms & Conditions</a> and
        <a href="">Privacy Policy</a>
    </p>
</footer>