<link rel="stylesheet" href="../../components/filter/style.css">

<section id="pyq-container">
    <header>
        <h2>Filter Question Papers</h2>
    </header>

    <ul id="filter-container">
        <li class="filter-item">
            <span class="filter-type">Board</span>
            <p>Choose Board</p>
            <img src="../../../assets/svg/arrow_down.svg" alt="">
            <ul>
                <li>
                    icse
                </li>
                <li>
                    cbse
                </li>
            </ul>
        </li>

        <li class="filter-item">
            <span class="filter-type">Class</span>
            <p>Choose Class</p>
            <img src="../../../assets/svg/arrow_down.svg" alt="">
            <ul>
                <li>
                    10
                </li>
                <li>
                    12
                </li>
            </ul>
        </li>

        <li class="filter-item">
            <span class="filter-type">Stream</span>
            <p>Choose Stream</p>
            <img src="../../../assets/svg/arrow_down.svg" alt="">
            <ul>
                <li>
                    science
                </li>
                <li>
                    commerce
                </li>
            </ul>
        </li>

        <li class="filter-item">
            <span class="filter-type">Year</span>
            <p>Choose Year</p>
            <img src="../../../assets/svg/arrow_down.svg" alt="">
            <ul>
                <li>
                    2023
                </li>
                <li>
                    2020
                </li>
                <li>
                    2019
                </li>
                <li>
                    2018
                </li>
                <li>
                    2017
                </li>
            </ul>
        </li>
        <li><button>Filter</button></li>
    </ul>

    <div id="qst-section">
        <!-- <h2>science</h2>
        <div>Please select your Class, Board, Stream, and Year — then click ‘Filter’ to view results.
        </div> -->

        <!-- <section id="qst-container">
            <article>
                <div>
                    <p>Math</p>
                    <a>icse-class-10-english-paper-1-2017</a>
                </div>
                <button>Download</button>
            </article>
        </section> -->
    </div>
</section>