<link rel="stylesheet" href="../../components/filter/style.css">

<section id="pyq-container">
    <header>
        <h2>Filter Question Papers</h2>
    </header>

    <ul id="filter-container">
        <li class="filter-item">
            <span class="filter-type">Board</span>
            <p>All Boards</p>
            <img src="../../../assets/svg/arrow_down.svg" alt="">
        </li>

        <li class="filter-item">
            <span class="filter-type">Class</span>
            <p>All Classes</p>
            <img src="../../../assets/svg/arrow_down.svg" alt="">
        </li>

        <li class="filter-item">
            <span class="filter-type">Stream</span>
            <p>All Streams</p>
            <img src="../../../assets/svg/arrow_down.svg" alt="">
        </li>
        <li><button>Filter</button></li>
    </ul>

    <section id="qst-container">
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article> 
    </section>
</section>