<link rel="stylesheet" href="../../components/footer/style.css">

<section class="quick-navbar">
    <div class="quick-links">
        <h4>Deepstudy</h4>
        <p>
            Ace your exams with DeepStudy! Download Previous Year Question Papers (PYQ) and boost your preparation.
        </p>
        <div class="terms-conditions">
            <a href="">Privacy Policy</a>
            <a href="">Terms and Conditions</a>
        </div>

    </div>
    <div class="quick-links">
        <h4>Quick Links</h4>
        <a href="../../pages/home">Home</a>
        <a href="../../pages/pyq">Download PYQ</a>
        <a href="../../pages/contact">Contact</a>
    </div>
    <div class="quick-links">
        <h4>Get In Touch</h4>
        <p>Email: gravesoulkeeper@gmail.com</p>
        <p>Follow me for updates!</p>
        <div class="social-media">
            <a href="https://x.com/gravesoulkeeper" target="_blank"><img src="../../../assets/svg/x.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/gravesoulkeeper/" target="_blank"><img src="../../../assets/svg/linkedin.svg" alt=""></a>
        </div>
    </div>
</section>

<div class="copyright">
    © 2024-2025 DeepStudy. All rights reserved.
</div>