<link rel="stylesheet" href="../../components/footer/style.css">

<section class="quick-navbar">
    <div class="quick-links">
        <h4>Deepstudy</h4>
        <p>
            Ace your exams with DeepStudy! Download Previous Year Question Papers (PYQ) and boost your preparation.
        </p>
        <div class="terms-conditions">
            <a href="">Privacy Policy</a>
            <a href="">Terms and Conditions</a>
        </div>

    </div>
    <div class="quick-links">
        <h4>Quick Links</h4>
        <a href="">Home</a>
        <a href="">Download PYQ</a>
        <a href="">Contact</a>
    </div>
    <div class="quick-links">
        <h4>Get In Touch</h4>
        <p href="">Email: gravesoulkeeper@gmail.com</p>
        <a href="">Follow me for updates!</a>
        <div class="social-media">
            <a href=""><img src="../../assets/svg/x.svg" alt=""></a>
            <a href=""><img src="../../assets/svg/linkedin.svg" alt=""></a>
        </div>
    </div>
</section>

<div class="copyright">
    © 2024-2025 DeepStudy. All rights reserved.
</div>