<link rel="stylesheet" href="../../components/signupForm/style.css">
<link rel="stylesheet" href="../../css/ui.css">

<a class="left_arrow" href="../../pages/home">
    <img src="../../../assets/svg/left_arrow.svg" alt="">
</a>

<header>
    <h2>Sign Up for free</h2>
</header>

<section id="signup-container">
    <form action="">
        <label for="email">email address</label>
        <input type="email" name="email" required>
        <button type="submit">Verify</button>
        <div class="otp-container">
            <div class="otp-input"></div>
            <div class="otp-input"></div>
            <div class="otp-input"></div>
            <div class="otp-input"></div>
            <div class="otp-input"></div>
            <div class="otp-input"></div>
        </div>
    </form>
</section>

<section class="open-auth">
    <div class="auth">
        <img src="../../../assets/svg/google.svg" alt="">
        <span>sign up with Google</span>
    </div>
    <div class="auth">
        <img src="../../../assets/svg/github.svg" alt="">
        <span>Sign up with GitHub</span>
    </div>
</section>


<footer>
    <p>Already have an account? <a href="../../pages/signin">Log in</a></p>
</footer>