<link rel="stylesheet" href="../../components/signupForm/style.css">
<link rel="stylesheet" href="../../css/ui.css">

<a class="left_arrow" href="">
    <img src="../../../assets/svg/left_arrow.svg" alt="">
</a>

<header>
    <h2>Sign Up for free</h2>
</header>


<section id="signup-container">   
    <form action="">
        <label for="email">email address</label>
        <input type="email" name="email">
        <button type="submit">Verify</button>
        <div class="otp-container">
            <div class="otp-input"></div>
            <div class="otp-input"></div>
            <div class="otp-input"></div>
            <div class="otp-input"></div>
            <div class="otp-input"></div>
            <div class="otp-input"></div>
        </div>
    </form>
</section>

<section class="open-auth">
    <div class="auth">
        <img src="../../../assets/svg/google.svg" alt="">
        <span>sign in with Google</span>
    </div>
    <div class="auth">
        <img src="../../../assets/svg/github.svg" alt="">
        <span>Sign in with GitHub</span>

    </div>
</section>

<footer>
    <p>Already have an account? <a href="">Log in</a></p>
</footer>