<link rel="stylesheet" href="../../components/feedback/style.css">

<section id="feedback-container">
    <header>
        <h1>Deepstudy Feedback</h1>
        <p>We value your input! Let us know about any issues or suggestions.</p>
    </header>

    <form>
        <div class="feedback-input">
            <label for="name">Name</label>
            <input type="text" name="name">
        </div>
        <div class="feedback-input">
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div class="feedback-input">
            <label for="name">Feedback Type</label>
            <input type="text" placeholder="type" name="type">
        </div>
        <div class="comment-container">
            <label for="comments">Comments</label>
            <textarea id="" name="comment"></textarea>
        </div>
        <button type="submit">Submit Feedback</button>
    </form>
</section>