#feedback-container {
    width: 1229.4px;
    height: 851px;
    margin: auto;
    background-color: #212121;
    border-radius: 5px;
    /* padding: 20% 0; */
}

header {
    height: 10%;
    padding: 5% 0;
    text-align: center;
}

header h1 {
    font-size: 30px;
    font-weight: 600;
}


#feedback-container form {
    height: 70%;
    box-sizing: border-box;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
}

form .feedback-input {
    width: 482px;
    height: 73px;
}

form label {
    font-weight: 600;
}

form input {
    width: 100%;
    height: 34px;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 1.1rem;
    margin-top: 10px;
}

form .comment-container {
    width: 482px;
    height: 205px;
}

.comment-container textarea {
    padding: 10px;
    font-size: 1.1rem;
    width: 100%;
    height: 168px;
    resize: none;
    margin-top: 10px;
    border-radius: 5px;
}

form input:focus,
form textarea:focus {
    outline: none
}

form button {
    width: 482px;
    height: 53px;
    background-color: #54AF54;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
}

form button:hover {
    cursor: pointer;
}