<link rel="stylesheet" href="../../components/navbar/style.css">

<ul class="navbar-left">
    <li>
        <a href="../../pages/home" class="brand">
            <img src="../../../assets/svg/deepstudy.svg" alt="deepstudy">
            <p>DEEPSTUDY</p>
        </a>
    </li>
    <li>
        <a href="../../pages/home">HOME</a>
    </li>
    <li>
        <a href="../../pages/pyq">PYQ</a>
    </li>
    <li>
        <a href="../../pages/contact">CONTACT</a>
    </li>
</ul>

<ul class="navbar-right">
    <li>
        <a class="theme" href="">Theme</a>
    </li>
    <div>
        <li>
            <a class="sign-in" href="../../pages/signin">Sign in</a>
        </li>
        <li>
            <a class="create-account" href="../../pages/signup">Create Account</a>
        </li>
    </div>
    <div>
        <img alt="">
        <p></p>
        <img src="../../../assets/svg/arrow_down.svg" alt="">

        <ul>
            <a href="../../pages/profile">profile</a>
            <li class="theme">
                change theme
            </li>
        </ul>
    </div>
</ul>